In [1]:
#importing libararies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv(r"C:\Users\shivraj\Desktop\Notes\YT\Data\V1_TShirt_size.csv")
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [3]:
y =np.array([0 if i=="M" else 1 for i in y])
y

array([0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [4]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 0)

In [5]:
df_X_train = pd.DataFrame(X_train,columns=['Heights','Weights'])
df_X_test = pd.DataFrame(X_test,columns=['Heights','Weights'])

In [6]:
df_X_train

    Heights  Weights
0       163       64
1       165       62
2       168       66
3       160       60
4       158       63
5       170       64
6       170       68
7       165       61
8       160       64
9       168       63
10      165       65
11      160       59
12      158       58
13      163       60
14      170       63
15      168       62

In [7]:
df_X_test

   Heights  Weights
0      158       59
1      163       61

In [8]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
df_X_train_scaled = pd.DataFrame(X_train,columns=['Heights','Weights'])
df_X_test_scaled = pd.DataFrame(X_test,columns=['Heights','Weights'])

In [10]:
df_X_train_scaled

     Heights   Weights
0  -0.344901  0.539969
1   0.134961 -0.245440
2   0.854754  1.325378
3  -1.064694 -1.030849
4  -1.544556  0.147264
5   1.334616  0.539969
6   1.334616  2.110787
7   0.134961 -0.638145
8  -1.064694  0.539969
9   0.854754  0.147264
10  0.134961  0.932673
11 -1.064694 -1.423554
12 -1.544556 -1.816259
13 -0.344901 -1.030849
14  1.334616  0.147264
15  0.854754 -0.245440

In [11]:
df_X_test_scaled

    Heights   Weights
0 -1.544556 -1.423554
1 -0.344901 -0.638145

In [13]:
# Training the K-NN model on the Training set
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [14]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[2]]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

1.0